.forum {
  position: fixed;
  right: -4.8vw;
  top: 80%;
  height: 5rem;
  width: 13%;
  font-size: 2rem;
  color: white;
  text-transform: uppercase;

  //background-color: darkblue;
  background-image: linear-gradient(to bottom, rgb(141, 3, 3), red);
  //background-size: cover;

  transform: rotate(270deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  

  @media only screen and (max-width: 88.56em){
    //right: -6.2rem;
  }

  @media only screen and (max-width: 42.56em){
    right: -9.2rem;
    width: 40%;
  }
}
