$color-main: rgb(16, 16, 15);
$color-main-light:  rgb(43, 43, 43);
$color-main-dark: rgb(29, 29, 29);
$color-text:  rgb(225, 225, 225);
$color-text-dark:  rgb(119, 119, 119);
$color-unbox: #e60d1c;
$color-unbox-dark: #b40612;

.features {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  justify-content: center;

  align-items: center;
  padding: 4rem 8rem;
  color: $color-text-dark;
  

 
  //height: 50vh;

  @media only screen and (max-width: 88.56em) {
    clip-path: none;
    font-size: 2rem;
  }

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 0rem;

    grid-row-gap: 2rem;
  }

  @media only screen and (max-width: 52em){
    margin-top: 0rem;
    padding: 1rem 8rem;
  }

  @media only screen and (max-width: 46.87em){
    //margin-top: 3rem;
    margin-top: -3rem;
    
  }

  @media only screen and (max-width: 46.87em){
    grid-row-gap: 4rem;
    grid-column-gap: 1.5rem;
  }

  .feature-box {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    align-items: space-between;
    align-items: center;
    align-content: center;
    width: 20vw;
    height: 25rem;
    border-radius: 3rem;
    background-image: linear-gradient(
      to bottom,
     $color-main-light 40%,
      $color-main
    );
    //background-color: $color-main18;
    //border: solid 2px $color-main;
    //box-shadow: 1px 1px 10px black;

    

    @media only screen and (max-width: 78.15em) {
      transform: translateY(-3rem);
    }

    @media only screen and (max-width: 56.25em) {
      width: 40vw;
      height: 25rem;
      transform: translateY(0rem);
      background-image: linear-gradient(
      to bottom,
     $color-main-light 40%,
      $color-main
    );
    
    }

    @media only screen and (max-width: 46.87em){
      width: 47vw;
      height: 25rem;
      border-radius: .5rem;
      transform: translateY(3rem);
      background-image: linear-gradient(
      to bottom,
     $color-main-light 40%,
      $color-main
    );
      //box-shadow: 1px 4px rgba(122, 122, 122, 0.322);
    }

    i {
      font-size: 5rem;
      color: $color-unbox;
      padding: 2rem;
      transition: all .5s ease-in-out;

      @media only screen and (max-width: 88.56em) {
        font-size: 4rem;
      }
    }

    .text {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 2rem;
      padding: 1rem 1.9rem;
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: 88.56em) {
        font-size: 1.7rem;
      }

      span {
        font-size: 2.5rem;
        text-align: center;
        line-height: 1rem;
        margin-bottom: 3rem;
        letter-spacing: 0.5rem;
        color: $color-text;
        font-family: "ultra" serif;
        font-weight: bold;

        @media only screen and (max-width: 88.56em) {
          font-size: 2rem;
          letter-spacing: 0.2rem;
        }
      }
    }
    transition: all 100ms ease-in-out;
    &:hover {
      
      i {
        font-size: 6.5rem;
      }
    }
  }
}

@keyframes shift {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
